._category{
	[data-ur-set="carousel"] {
	  overflow: hidden;
	  position: relative;
	}
	[data-ur-carousel-component="item"] {
	  float: left;
	}
	#SideCategoryShopByPrice, #SideShopByBrand{
		color:$color8;
		margin: 10px;
		border: $border3;
		border-radius: 10px;
		.BlockContent{
	      ul{
	        li{
	          border-bottom: 1px solid $color7;
	          padding: 5px;
	          a{
	            color: $color5;
	            .mw_arrow{
	              @include sprites-menu_go;
	              float: right;
	              margin-right: 5px;
	            }
	            }
	        }
	        li:last-child{
	          border-bottom: none;
	        }
	      }
	    }
		
	}
	#CategoryContent{
		ul{
			li{
				padding: 20px;
			}
		}
	}
	#CategoryHeading{
		.BlockContent{
			@include background( linear-gradient(top, #852201, #6a1b00));
			color: $color8;
			margin: 10px;
			border: $border3;
			@include border-radius(10px);
			background: $color8;
			    .SortBox{
						@include background( linear-gradient(top, #852201, #6a1b00));
						@include border-radius(10px);
						padding: 5px;
			    }
				ul{
			        li {
						list-style: none;
						margin: 2px;
						padding: 5px;
						border-bottom: $border3;
					}
					li:last-child{
						border-bottom: none;
					}
				}
		}	
	}
}