*{
  margin: 0;
  padding: 0;
}
.Wrapper{
  margin: 0 auto;
  max-width: auto;
}
.clearfix{
  zoom: 1;
}
.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
body {
  font-family: $font_family;
  font-size: $font_size;
  height: 100%;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
h2{
  margin: 5px 0 10px;
}
p {
  font-size: $font_size;
}
 
textarea, input[type="text"], input[type="password"], select {
  @include border-radius(3px);
  border: $border2;
  padding: 8px;
  vertical-align: middle;
  margin: 0px 5px;
}
a {
  text-decoration: none;
  color: $color5;
  font-size: $font_size;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
hr {
  margin: 10px 0;
  padding: 0;
  background: $color6;
  height: 1px;
  border: 0;
}
#AjaxLoading{
    display: none;
  }
.QuickViewBtn{
    display: none !important;
} 
.ProductImage, .ProductThumb{
  margin: 0 auto;
}
.ProductDetails , .ProductPriceRating , .ProductActionAdd{
  text-align: center;

}
.ProductActionAdd{
    margin-top: 10px;
    a{
    @include background( linear-gradient(top, #852201, #6a1b00));
    @include border-radius(3px);
    padding: 3px;
    color:$color8;
    text-align: center;
    }
}
.Clear{
  display: none;
}
#Menu{
  @include border-radius(0px);
  color: #000;
  background: white;
  text-align: center;
  h2{
    background: $color7;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $color8;
    padding: 5px;
  }
  li{
    border-bottom: $border2;
    background: $color9;
    padding: 5px;
  }
  a{
    color: #000;
  }
}
.mw_bar1 {
      padding: 5px;
      margin: 0px;
      @include border-radius(10px);
      @include background( linear-gradient(top, #852201, #6a1b00));
      &[data-ur-state="disabled"] {
        > .mw_indicator {
          @extend .sprites-plus;
          float: right;
          margin-right: 5px;
          margin-top: -25px;
        }
      }
      &[data-ur-state="enabled"] {
        > .mw_indicator {
          @extend .sprites-minus;
          float: right;
          margin-right: 5px;
          margin-top: -25px;
        }
      } 
    } 
    