*{
  margin: 0;
  padding: 0;
}
.Wrapper{
  margin: 0 auto;
  max-width: auto;
}
.clearfix{
  zoom: 1;
}
.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
body {
  font-family: $font_family;
  font-size: $font_size;
  height: 100%;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
h2{
  margin: 5px 0 10px;
}
p {
  font-size: $font_size;
}
 
textarea, input[type="text"], input[type="password"], select {
  @include border-radius(3px);
  border: $border2;
  padding: 8px;
  vertical-align: middle;
  margin: 0px 5px;
}
a {
  text-decoration: none;
  color: $color5;
  font-size: $font_size;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
hr {
  margin: 10px 0;
  padding: 0;
  background: $color6;
  height: 1px;
  border: 0;
}
#AjaxLoading{
    display: none;
  }
.mw_dot{
  clear: both;
}
.QuickViewBtn{
    display: none !important;
} 
.ProductThumb{
  margin: 0 auto;
}
.ProductDetails , .ProductPriceRating{
  text-align: center;
}
.ProductActionAdd {
    background: url(../../images/ProductActionAdd.gif) no-repeat;
    background-size: cover;
    min-height: 25px;
    max-height: 25px;
    @include border-radius(8px);
    text-align: center;
    a {
        color: $color8;
    }
}
.Clear{
  display: none;
}
.mw_bar1{
      @include background( linear-gradient(top, #852201, #6a1b00));
      @include border-radius(10px);
      padding: 5px;
      margin: 0px;
      &[data-ur-state="disabled"] {
        > .mw_indicator {
          @extend .sprites-plus;
          float: right;
          margin-right: 5px;
          margin-top: -25px;
        }
      }
      &[data-ur-state="enabled"] {
        > .mw_indicator {
          @extend .sprites-minus;
          float: right;
          margin-right: 5px;
          margin-top: -25px;
        }
      } 
    }
    