// colors
$color1: #B03B01; // header color
$color2: #075899; // link color
$font_family: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font_size: 1.0em;
$color5: #295687;
$color6: #ccc;
$color7: #9c2f01;
$color8: #fff;
$color9: #f5f2e1;
$border2: 1px solid #cdcdcd;
$border3: 1px solid #9c2f01;
